<div *ngIf="patient" class="card">
  <div class="header">
    <div class="item">{{patient.first_name}}</div>
    <div class="item">{{patient.last_name}}</div>
  </div>
  <div class="content">
    <div class="item">
      <div class="label">
        Gender
      </div>
      <div>{{patient.gender}}</div>
    </div>
    <div class="item">
      <div class="label">
        Email
      </div>
      <div>{{patient.email}}</div>
    </div>
    <div class="item">
      <div class="label">
        Diagnosis id
      </div>
      <div>{{patient.diagnosis}}</div>
    </div>
    <div *ngIf="patientDiagnosis$|async as patientDiagnosis; else noDiagnosis" class="diagnoses">
      <div class="header">The diagnosis is</div>
      <div>{{patientDiagnosis.name}}</div>
      <div>{{patientDiagnosis.description}}</div>
      <div>{{patientDiagnosis.diagnosis}}</div>
      <sse-button (click)="changeDiagnosis(patient)">Change Diagnosis</sse-button>
    </div>
    <ng-template #noDiagnosis>
      <div>This patient does not have an address</div>
    </ng-template>
    <div *ngIf="patientAddress$|async as patientAddress; else noAddress" class="address">
      <div class="header">This patient lives at</div>
      <sse-address-details [address]="patientAddress"></sse-address-details>
    </div>
    <ng-template #noAddress>
      <div>This patient does not have an address</div>
    </ng-template>
  </div>
  <div class="actions">
    <sse-button (click)="editPatient(patient)">Edit</sse-button>
  </div>
</div>
