<div>Edit patient</div>
<div *ngIf="patient$|async as patient">
  <form [formGroup]="patientFormGroup">
    <div>
      <label for="firstName">First Name</label>
      <input class="form-control" formControlName="first_name" id="firstName" type="text">
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input class="form-control" formControlName="last_name" id="lastName" type="text">
    </div>
    <div>
      <label for="email">Email</label>
      <input class="form-control" formControlName="email" id="email" type="email">
    </div>
    <div>
      <label for="gender">Gender</label>
      <input class="form-control" formControlName="gender" id="gender" type="text">
    </div>
    <sse-button (click)="update()">Update</sse-button>
  </form>
</div>

