<div>Edit patient</div>
<div *ngIf="patient$|async as patient">
  <form [formGroup]="patientFormGroup">
    <div>
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName">
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email">
    </div>
    <div>
      <label for="gender">Gender</label>
      <input type="text" class="form-control" formControlName="gender" id="gender">
    </div>
    <sse-button (click)="update()">Update</sse-button>
  </form>
</div>

