<div class="container">
  <div *ngIf="patients$|async as patients">There are {{patients.length}} patients</div>
  <ng-container *ngIf="loading$|async as loading">
    <div>Currently loading</div>
  </ng-container>
  <div class="wrapper">
    <div class="table">
      <div class="row header">
        <div class="cell">Given name</div>
        <div class="cell">Last name</div>
        <div class="cell">Email</div>
        <div class="cell">Gender</div>
        <div class="cell">Select</div>
      </div>
      <div *ngFor="let patient of patients$|async; trackBy: idTracker; let odd = odd; let even=even"
           class="row">
        <div class="cell">{{patient.first_name}}</div>
        <div class="cell">{{patient.last_name}}</div>
        <div class="cell">{{patient.email}}</div>
        <div class="cell">
          <fa-icon [icon]="patient.gender == 'Male'? faMars : faVenus"></fa-icon>
        </div>
        <div class="cell actionItem">
          <fa-icon (click)="selectPatient(patient)" [icon]="faInfoCircle"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

