<div class="menuContainer animate blur ">
  <div class="menuItem animate blur delay-1" routerLink="home">
    <fa-icon [icon]="faHome"></fa-icon>
    Home
  </div>
  <div class="menuItem animate blur delay-2" routerLink="/patients">
    <fa-icon [icon]="faUserInjured"></fa-icon>
    Patients
  </div>
  <div class="menuItem animate blur delay-3" routerLink="/diagnosis">
    <fa-icon [icon]="faDiagnosis"></fa-icon>
    Diagnoses
  </div>
  <div class="menuItem animate blur delay-4" routerLink="/addresses">
    <fa-icon [icon]="faDiagnosis"></fa-icon>
    Addresses
  </div>
</div>
