<nav id="menu">
  <ul>
    <li routerLink="home" class="menuItem animate blur delay-1">
      <div title="Home">
        <fa-icon [icon]="faHome"></fa-icon>
        Home
      </div>
    </li>
    <li routerLink="/patients" class="menuItem animate blur delay-2">
      <div title="patients">
        <fa-icon [icon]="faUserInjured"></fa-icon>
        Patients
      </div>
    </li>
    <li routerLink="/diagnosis" class="menuItem animate blur delay-3">
      <div title="diagnoses">
        <fa-icon [icon]="faDiagnosis"></fa-icon>
        Diagnoses
      </div>
    </li>
    <li routerLink="/addresses" class="menuItem animate blur delay-4">
      <div title="adresses">
        <fa-icon [icon]="faDiagnosis"></fa-icon>
        Addresses
      </div>
    </li>
  </ul>
</nav>
