.menuContainer {
  height: 35px;
  display: flex;
  border-bottom: 1px solid lightgray;
  align-content: center;
  align-items: center;
}

.menuItem {
  position: relative;
  cursor: pointer;
  padding: 0 1em;
}

.menuItem:after {
  content: "";
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.menuItem:hover:after {
  background-color: #8600d4;
  bottom: -2px;
  height: 2px;
  left: 2px;
  width: 90%;

}
